<h1>License Agreement</h1>
<h2>VeriLook 3.2 SDK</h2>
<br />
<hr width='100%' />
<h4>IMPORTANT - Read this License Agreement Carefully</h4>
<h4>By buying the software you indicate your acceptance of the Software License Agreement. </h4>
<hr width="100%" />
<h4>Definitions and Interpretations</h4>
<p>
In this Agreement, unless the context otherwise requires: 
</p>
<ul>
<li> <b>"Software"</b> means the product which is covered by this License Agreement and which is named as VeriLook 3.2 SDK. </li>
<li> <b>"Licensee Product"</b> means the modified portions of the Software, as created by Licensee.</li>
</ul>
<p>
The following License terms govern your use of the Software unless you have concluded the separate agreement with Neurotechnology. 
By installing, you agree to be bound by the terms of this LA. 
If you do not agree to the terms of this LA, you may not install, copy or otherwise use the Software.
</p>
<br />
<h4>Software Product License</h4>
<p>
Copyright laws and international copyright treaties, as well as other intellectual property laws and treaties protect the Software. The Software is licensed, not sold.
</p>
<br />
<h4>1. Grant of License. Description of other Rights and Limitations</h4>
<p>
1.1. Use of the Software or the Software Components.<br />
Neurotechnology grants you a personal, non-exclusive license to use the Software for the purpose of designing, developing, and testing and distribute the Licensee Products. Installation, adaptation, redistribution in any other manner than prescribed in this Agreement is forbidden and concludes the breach of this Agreement provisions.
</p>
<p>
1.2. Installation<br />
You may install the Software on a hard disk or other storage device; install and use the Software on a file server for use on a network for the purposes of 
</p>
<ul>
<li>permanent installation onto hard disks or other storage devices </li>
<li>use of the Software over such network; and make backup copies of the Software</li>
</ul>
<p>
1.3. Reproduction and redistribution<br />
You may reproduce and redistribute the Licensee Products only in object code form and only when incorporated into your software products provided to the End Users, as many times as you have obtained VeriLook Extractor or Matcher installation licenses. 
You may not include the Software as part of development tool, or software development kit.
</p>
<p>
1.4. Protection of intellectual rights<br />
In order to protect Neurotechnology's intellectual property rights in the Software, you must reproduce on each copy of your product a copyright notice that clearly states:<br />
<i>"Copyright _ [Licensee Name]. Portions Copyright 2004-2008 Neurotechnology. All Rights Reserved."</i><br />
and you must distribute your product pursuant to a valid agreement that is at least as protective of Neurotechnology's rights in the Software as this License Agreement.
</p>
<p>
1.5. Restrictions.
</p>
<p>
1.5.1. Limitations on Reverse Engineering, Decompilation, and Disassembly. <br />
You may not reverse engineer, decompile, or disassemble the Software. You must forbid your End Users to reverse engineer, decompile or disassemble the Software. If you learn of any misuse of Software, you shall notify Neurotechnology immediately.
</p>
<p>
1.5.2. Rental. <br />
You may not lease or rent the Software.
</p>
<p>
1.5.3. Proprietary notices. <br />
You may not remove any proprietary notices on the Software.
</p>
<p>
1.5.4 Transfer of rights. <br />
Permanent or temporal transfer of all or any of your rights acquired due to this Agreement is forbidden without Neurotechnology consent. 
</p>
<p>
1.5.5 Export control. <br />
You will not export or re-export Software without appropriate licenses, in case the law requires such licenses. 
</p>
<br />
<h4>2. Ownership</h4>
<p>
The Software (excluding Integrator Gold used for U.are.U scanner support) is owned and copyrighted by Neurotechnology. Your license confers no title to, or ownership in the Software and is not sale of any rights of the Software. No one provision of this Agreement should not be construed as an expression to assign or sell any copyrights or any other intellectual property rights to the Software from Neurotechnology to you.
</p>
<br />
<h4>3. Copyright</h4>
<p>
All title and Neurotechnology owns copyrights in and to the Software, and accompanying printed materials. Copyright laws and International treaty provisions protect the Software. Therefore you must treat the Software products like any other copyrighted material (e.g., a book or musical recording). You may not use or copy the Software or any accompanying written materials for any purposes other than what is described in this Agreement. The Software is Copyright &copy; 2004-2008 Neurotechnology. All rights reserved. The Software remains the sole and exclusive property of Neurotechnology at all times.
</p>
<br />
<h4>4. Technical Support</h4>
<p>
Neurotechnology agrees to provide technical support via Internet, using E-mail address provided in <i>http://www.neurotechnology.com</i> 
</p>
<br />
<h4>5. Disclaimer of Warranty</h4>
<p>
Neurotechnology declares that the Software confirms to its published specifications and is delivered to you free from any defects. However the Software is provided on an "AS IS" basis, and Neurotechnology shall in no event warrant the performance or results you may obtain by using the Software and disclaims all any warranties express. Neurotechnology declares that the Software have no bugs or other non-conformances. However if you find any defects in the Software Neurotechnology's liability is limited, to replacement of the Software, which will be fulfilled within the duration of 30 (thirty) days from the moment of information about such defects of the Software. 
</p>
<p>
This disclaimer of warranty constitutes an essential part of the agreement.
</p>
<br />
<h4>6. Exclusion of Liability/Damages</h4>
<p>
The following is without prejudice to any rights you may have at law, which cannot legally be excluded or restricted. You acknowledge that no promise, representation, warranty or undertaking has been made or given by Neurotechnology (or any of its directors, officers, employees, affiliates or owners) to any person or company on its behalf in relation to the profitability of or any other consequences or benefits to be obtained from the delivery or use of the Software or other materials.
</p>
<p>
You have relied upon your own skill and judgment in deciding to acquire the Software and any accompanying manuals and other materials for use by you. Except as and to the extent provided in this agreement, neither Neurotechnology nor any of its directors, officers, employees, affiliates or owners will in any circumstances be liable for any other damages whatsoever (including, without limitation, damages for loss of business, business interruption, loss of business information or other indirect, incidental, special or consequential loss) arising out of the use, or inability to use, or supply or non-supply, of the Software and any accompanying written materials regardless of the basis of the claim and even if Neurotechnology, or an authorized Neurotechnology's representative has been advised of the possibility of such damages. 
</p>
<p>
Some states or jurisdictions do not allow the exclusion or limitation of incidental, consequential or special damages, or the exclusion of implied warranties or limitations on how long an implied warranty may last, so the above limitations may not apply to you.
</p>
<p>
Neurotechnology's total liability under any provision of this agreement is in any case limited to the amount actually paid by you for the Software. 
</p>
<br />
<h4>7. Term</h4>
<p>
This Agreement will become effective upon your acceptance and continue in effect unless you cease to use the Software. You may terminate this License Agreement at any time. In addition, without prejudice to any other rights, this Agreement and the license granted hereunder will terminate automatically if you fail to comply with the terms and conditions described herein. You agree that, upon such termination, you will destroy or permanently erase all copies of the Software, and that you will immediately cease any distribution of Licensee Products with incorporated the Software.
</p>
<br />
<h4>8. Entire Agreement</h4>
<p>
This License Agreement is the entire agreement between you and Neurotechnology relative to the Software, and supersedes all prior statements, proposals or agreements relative to its subject matter, written or oral. This Agreement may only be modified in writing signed by an authorized representative of Neurotechnology. 
</p>
<br />
<h4>9. Controlling Law and Sever ability</h4>
<p>
This License shall be governed by and construed in accordance with the laws of the Republic of Lithuania, as applied to agreements entered into and to be performed entirely within Lithuania between Lithuanian residents. If for any reason a court of competent jurisdiction finds any provision of this License, or portion thereof, to be unenforceable, that provision of the License shall be enforced to the maximum extent permissible so as to effect the intent of the parties, and the remainder of this License shall continue in full force and effect.
</p>
<br />
<h4>10. Trademarks</h4>
<p>
VeriLook is a trademark of Neurotechnology. 
</p>
<br />
<h4>11. Government Agreements</h4>
<p>
The Software is developed exclusively at private expense and is identified as "commercial computer software and documentation" and thus, Licensee's Products shall be licensed to any of Government of any State or jurisdiction under the terms of license agreement containing the minimum terms as set forth in this agreement.
</p>